body {
    max-width: 750px;
    margin:  0 auto;
}

.part {
    padding: 10px;
}

button.md-button {
    color: rgba(255,255,255,0.87);
    background-color: rgb(16,108,200);
    min-width: 50px;
    margin: 5px 0;
}

img {
    max-width: 300px;
}

nav {
    padding: 20px 0;
}

nav div {
    padding-bottom: 10px;
}

nav a {
    color: #444;
    text-decoration: none;
}

.text {
    min-width: 250px;
}

.pagination button {
    margin-right: 10px;
}

.food-item {
    box-shadow: 0 10px 20px rgba(217,213,230,0.5);
    padding: 20px;
    margin: 20px 0;
}

.food-item a {
    color: #444;
    text-decoration: none;
}